@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Space Grotesk', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-black;
  }
}
